<h1></h1>
<form class="form--demo col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
  <div class="form-group">
    <label>Task Description</label>
    <input type="text" class="form-control" ng-model="task.task"></input>
  </div>
<!--   <div class="form-group">
    <label>Due Date</label>
    <input type="text" class="form-control" ng-model="task.dueDate" placeholder="6/1/17"></input>
  </div>
  <div class="form-group">
    <label>Assigned To:</label>
    <input type="text" class="form-control" ng-model="task.assignedTo" placeholder="Joe"></input>
  </div>
  <div class="form-group">
    <label>Urgency</label>
    <input type="text" class="form-control" ng-model="task.urgency" placeholder="Low"></input>
  </div>
  <div class="form-group">
    <label>Dependencies</label>
    <input type="text" class="form-control" ng-model="task.dependencies" placeholder="Coffee, dogs, hairdryer, small potatoes"></input>
  </div>
  <div class="form-group">
  <label>Location</label>
    <input type="text" class="form-control" ng-model="task.location" placeholder="Coffee, dogs, hairdryer, small potatoes"></input>
  </div> -->
  <div class="text-center">
    <button ng-click="submitTask()"  class="btn btn-default btn-primary">Add Note</button>
  </div>
</form>
